appnope
asttokens
certifi
charset-normalizer
comm
contourpy
cycler
DateTime
debugpy
decorator
et_xmlfile
executing
fonttools
geodatasets
geopandas
idna
iniconfig
ipykernel
ipython
jedi
jupyter_client
jupyter_core
kiwisolver
matplotlib
matplotlib-inline
nest-asyncio
numpy
openpyxl
packaging
pandas
parso
pexpect
pillow
platformdirs
pluggy
pooch
prompt_toolkit
psutil
ptyprocess
pure_eval
Pygments
pyogrio
pyparsing
pyproj
pytest
python-dateutil
pytz
PyYAML
pyzmq
requests
setuptools
shapely
six
stack-data
tabulate
tenacity
tornado
traitlets
tzdata
urllib3
wbgapi
wcwidth
zope.interface
